body{
    margin: 0px;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}
.inner-container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(22, 44, 167);
    position: absolute;
}
.head{
    position: absolute;
    background-color: rgb(129, 216, 170);
}
.food{
    position: absolute;
    background-color: rgb(238, 17, 153);
}
